body {
  font-family: Arial;
  font-size  : .9rem;
}

div {
  border   : 1px solid green;
  font-size: .9rem;
}

table {
  font-size   : small;
  table-layout: fixed;
  width       : fit-content;
  margin      : .5rem;
}

.divParent {
  display        : flex;
  flex-flow      : row wrap;
  justify-content: flex-start;
}

#divParent2 {
  flex-wrap: nowrap;
}

@media all and (max-width: 900px) {
  #divParent2 {
    flex-wrap: wrap;
  }
}

/* childs */
div>div {
  /* width: min-content; */
}

#tableTop td:nth-child(2) {
  text-align: right;
}

#tableData {
  table-layout: fixed;
  width       : fit-content;
}

#tableData td:nth-child(n+2) {
  text-align: right;
}

#chartLegend {
  width: max-content;
}

#chartLegend h3 {
  text-align: center;
}

#chartLegend p {
  text-align: justify;
  margin: .5rem;
}

#divChart {
  width     : fit-content;
  text-align: center;
}

